* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-bg: #F2F2F2;
  --color-text: #171717;
  --color-hover: #c7a17a;
  --color-span: #837e7e;

  --text-title: 'PT Serif';
}

li {
  list-style: none;
}

h3 {
  text-align: center;
  color: var(--color-text);
  font-size: var(--text-title);
  font-size: 24px;
}

.main {
  margin-top: 50px;
}

.form-input {
  margin-top: 30px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.add-todo {
  max-width: calc(100% - 80px);
  width: 620px;
  padding: 12px 16px;
  background-color: var(--color-bg);
  border: #c7a17a 2px solid;
  border-radius: 5px;
}

.btn-input {
  padding: 14px 16px;
  border: #B1B1B1;
  background-color: var(--color-hover);
  border-radius: 5px;
}

.div-todo {
  margin-top: 30px;
}

.span-todo {
  border-radius: 5px;
  background-color: var(--color-bg);
  width: 652px;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  margin: 4px auto;
  position: relative;
}

.span-todo:hover {
  border-radius: 8px;
  background-color: #ccc;
}

.checkDone {
  padding: 16px 16px;
  border: #B1B1B1;
  color: #fff;
  background-color: green;
  border-radius: 5px;
  position: absolute;
  left: 0;
}


.Clear_todo {
  padding: 16px 16px;
  border: #B1B1B1;
  color: #fff;
  background-color: rgb(212, 104, 104);
  border-radius: 5px;
  margin-left: 990px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.btn-done {
  position: fixed;
  bottom: 10px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  display: block;
  padding: 16px;
  background-color: #c7a17a;
  text-align: center;
  z-index: 999;
}

.btn-done:hover {
  background-color: #ccc;
}

.done {
  text-decoration: line-through;
}

.block-long {
  height: 3000px;
}

.scroll {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 50px;
  right: 30px;
}